language: php

php:
    - 7.0
    - 7.1
    - 7.2

cache:
    directories:
        - $HOME/.composer/cache/files

before_install:
    - phpenv config-rm xdebug.ini

install:
    - composer update --prefer-dist --prefer-stable --no-interaction

script:
    - vendor/bin/phpstan analyse -l 7 -c phpstan.neon src tests
    - vendor/bin/phpunit

jobs:
    include:
        - stage: Test
            php: 7.0
            env: PREFER_LOWEST=true
            install: composer update --prefer-lowest --prefer-dist --prefer-stable --no-interaction
