parameters:
    stubFiles:
        - stubs/ProphecyInterface.phpstub
        - stubs/ObjectProphecy.phpstub

services:
	-
		class: JanGregor\Prophecy\Reflection\ObjectProphecy\MethodsClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
