parameters:
    stubFiles:
        - src/Prophecy.phpstub

services:
	-
		class: JanGregor\Prophecy\Type\Prophet\ProphesizeDynamicReturnTypeExtension
		arguments:
			className: Prophecy\Prophet
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
		autowired: false

	-
		class: JanGregor\Prophecy\Type\Prophet\ProphesizeDynamicReturnTypeExtension
		arguments:
			className: PHPUnit\Framework\TestCase
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
		autowired: false
