services:
	-
		class: JanGregor\Prophecy\PhpDoc\ObjectProphecy\TypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension

	-
		class: JanGregor\Prophecy\Reflection\ObjectProphecy\MethodsClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension

	-
		class: JanGregor\Prophecy\Type\Prophet\ProphesizeDynamicReturnTypeExtension
		arguments:
			className: Prophecy\Prophet
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
		autowired: false

	-
		class: JanGregor\Prophecy\Type\Prophet\ProphesizeDynamicReturnTypeExtension
		arguments:
			className: PHPUnit\Framework\TestCase
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
		autowired: false

	-
		class: JanGregor\Prophecy\Type\ObjectProphecy\RevealDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: JanGregor\Prophecy\Type\ObjectProphecy\WillExtendOrImplementDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

