parameters:
	ignoreErrors:
		-
			message: '#^Doing instanceof PHPStan\\Type\\Generic\\GenericObjectType is error\-prone and deprecated\.$#'
			identifier: phpstanApi.instanceofType
			count: 1
			path: src/Type/ObjectProphecy/WillExtendOrImplementDynamicReturnTypeExtension.php

