parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Bar\>\:\:bar\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Baz\>\:\:baz\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\>\:\:doubleTheNumber\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\>\:\:getFoo\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 6
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Bar&JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Baz\>\:\:bar\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Baz\>\:\:baz\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Cannot call method shouldBeCalled\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 4
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Bar&JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Foo\>\:\:bar\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Bar&JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Foo\>\:\:foo\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

		-
			message: '#^Cannot call method shouldBeCalled\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 5
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 5
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php
