parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\:\:bar\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\:\:baz\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Parameter \#1 \$bar of method JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\:\:bar\(\) expects JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Bar, object given\.$#'
			identifier: argument.type
			count: 1
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Parameter \#1 \$baz of method JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\:\:baz\(\) expects JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Baz, object given\.$#'
			identifier: argument.type
			count: 1
			path: test/StaticAnalysis/Test/BaseModelTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\:\:doubleTheNumber\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\:\:getFoo\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\>\:\:doubleTheNumber\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\>\:\:getFoo\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method object\:\:doubleTheNumber\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method object\:\:getFoo\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 6
			path: test/StaticAnalysis/Test/ObjectProphecy/ProphesizeTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\:\:baz\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Baz\>\:\:baz\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Cannot call method shouldBeCalled\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Parameter \#1 \$baz of method JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\:\:baz\(\) expects JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Baz, object given\.$#'
			identifier: argument.type
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/WillExtendTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\:\:bar\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

		-
			message: '#^Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy\<JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Bar\>\:\:bar\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

		-
			message: '#^Cannot call method shouldBeCalled\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

		-
			message: '#^Parameter \#1 \$bar of method JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\BaseModel\:\:bar\(\) expects JanGregor\\Prophecy\\Test\\StaticAnalysis\\Src\\Bar, object given\.$#'
			identifier: argument.type
			count: 1
			path: test/StaticAnalysis/Test/ObjectProphecy/WillImplementTest.php

