<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Base">
            <directory>tests/Test</directory>
        </testsuite>
    </testsuites>
</phpunit>
