services:
	-
		class: JanGregor\Prophecy\Extension\ProphetProphesizeDynamicReturnTypeExtension
		arguments:
			className: Prophecy\Prophet
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
		autowired: false

	-
		class: JanGregor\Prophecy\Extension\ProphetProphesizeDynamicReturnTypeExtension
		arguments:
			className: PHPUnit\Framework\TestCase
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
		autowired: false

	-
		class: JanGregor\Prophecy\Extension\ObjectProphecyRevealDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: JanGregor\Prophecy\Reflection\ProphecyMethodsClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension

	-
		class: JanGregor\Prophecy\PhpDoc\TypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
